.navbar {
	font-size: 1rem;
	display: flex;
	background-color: #000000;
	align-items: center;
	justify-content: space-between;
	color: #ad974f;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);

	.nav-links {
		display: flex;
		flex-direction: row;

		.nav-link-item {
			text-decoration-line: none;
			margin-right: 50px;

			display: flex;
			flex-direction: row;
			align-items: center;

			.nav-login,
			.nav-register {
				color: #ad974f;
				font-weight: 700;

				display: inline;
			}

			.login-icon,
			.register-icon {
				color: #ad974f;
				margin-left: 10px;
			}
		}
	}

	.nav-logo {
		width: 100px;
		margin-left: 30px;
	}
}
